{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<h2>This website was developed as the final project for Harvard's CS50x</h2>
<p class="lead">It's built using Bootstrap CSS framework and it includes JS which provides the auto-complete functionality for the search bar</p>
<p></p>
<h2>Special thanks to</h6>
<p class="lead">Aveek Saha for his <a href="https://github.com/Aveek-Saha/Movie-Script-Database/">Movie Script Database</a></p>
<p class="lead">Andreas Mueller for his <a href="https://github.com/amueller/word_cloud">World Cloud Script</a></p>
{% endblock %}